.contenidoFooter{
    background-color: #FF2E2E;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 50px;
    justify-content: center;
}

.cardsContainer{
    display:grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 90px;
    justify-content: center;
    background-color: #282c34;
    padding-bottom: 60px;
}

.d-block{
    width: 70rem
}

.titulovideo{
    padding: 20px;
    background-color: #282c34;
    color: white;
    font-family: PokemonGB;
}

.sliderContainer{
    padding: 5%;
    background-color: #282c34;
     
}

.videoContainer{
    background-color: #282c34;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px
}

.imagen{
    display: flex;
    justify-content: center;
}
footer{
    color: white;
    text-align: center;
    padding: 0;
    position: sticky;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.objetoGrid{
    padding: 25px
}

.logopoke{
    width: 250px;
}

/*-------------------------------------------RESPONSIVE------------------------------------*/
@media screen and (max-width:950px){
  .cardsContainer{
    display: grid;
    grid-template-columns: 50%;
    row-gap: 70px;
  }
  .contenidoFooter{
    display: grid;
    grid-template-columns: 60%;
    row-gap: 0px;
    justify-content: center;
  }

  .d-block{
    width: 40rem
  }
}

@media screen and (max-width: 575px){
    .videoContent{
        width: 400px
    }

    .d-block{
        width: 40rem
      }
}

@media screen and (max-width: 420px){
    .videoContent{
        width: 300px;
    }

    .d-block{
        width: 40rem
      }
}