@font-face {
  font-family: PokemonGB;
  src: url("./resources/PokemonGB.ttf");
}


.App {
  text-align: center;
}

.link{
  color: white
}

.pokefondo{
  background-color: #282c34;
}
ul{
  list-style-type: none;
  padding: 10px
}
.containerPokemon{
  padding-top: 25px;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
  row-gap: 55px;
  column-gap: 75px;
  padding-bottom: 70px;
}

.botonContador{
  display: grid;
  grid-template-columns: 10% 10% 10%;
  justify-content: center;
  padding-bottom: 35px;
}

.botonAtras{
  border:  1px rgb(0, 97, 24);
  border-radius:  25px;
  padding:  5px;
  width:  200px;
  background-color: lightskyblue;
}

.botonAtras:hover{
  box-shadow: 5px 8px 7px rgb(0 0 0 / 0.5);
  transform: scale(.9);
  background-color:  greenyellow;
  transition: all .5s;
}

.fondoDetalles{
  background-color: #282c34;
}

.botonRegresar{
  margin: 20px;
  padding: 15px;
  border-radius: 40px;
  background-color: lightskyblue;
}

.botonRegresar:hover{
  background-color: greenyellow;
  transform: scale(.9);
  transition:  all .5s;
  box-shadow: 5px 8px 7px rgb(0 0 0 / 0.5);

}

.contenedorDetalles{
  display: grid;
  grid-template-columns: 30% 30% ;
  column-gap: 50px;
  row-gap: 45px;
  color: black;
  justify-content: center;
}
.cd1{
  background-color: white;
  display: grid;
  justify-content: center;
}
.cd2{
  background-color: white;
  padding: 30px;
}
.cd3{
  background-color: white;

}
.cd4{
  background-color: white;
}

.detalleImagen{
  width: 25rem;
  display: inline-block;
}

.detallesTitulo{
  text-align: center;
  font-family: PokemonGB;
  color: white;
  padding: 35px
}

.tituloRegiones{
  text-align: center;
  font-family: PokemonGB;
  color: white;
  padding: 45px
}

.regionsFondo{
  background-color: #282c34; 
}

.contenedorRegiones{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
  row-gap: 45px;
  column-gap: 60px;
  padding-bottom: 45px;
  text-align: center
}

.pokeTitulo{
  text-align: center;
  padding: 45px;
  font-family: PokemonGB;
  color: white
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*-------------------------------------------RESPONSIVE------------------------------------*/
@media screen and (max-width:950px){
  .containerPokemon{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    padding: 30px
  }

}

@media screen and (max-width: 835px){
  .containerPokemon{
    display: grid;
    grid-template-columns: 30% 30%;
    padding-bottom: 45px;
  }
}


@media screen and (max-width: 700px){
  .containerPokemon{
    display: grid;
    grid-template-columns: 35% 35%;
  }
}

@media screen and (max-width: 600px){
  .containerPokemon{
    display: grid;
    grid-template-columns: 55%;
    row-gap: 75px
  }
}

@media screen and (max-width: 400px){
  .containerPokemon{
    display: grid;
    grid-template-columns: 75%;
  }
}